.form-container {
  display: flex;
  font-family: system-ui;
  justify-content: center;
  background-color: #aec7cb;
  text-align: center;
  padding: 20px;
  height: 91vh;

  .input-fields {
    margin: 20px;
    font-size: 20px;
  }
  .info-text {
    color: maroon;
    font-size: 12px;
    display: flex;
    justify-content: right;

    span {
      margin: 2px 1px;
    }
  }
}
